:root {
  --dimbackground: #2d353b;
  --base00: #2d353b;
  --base01: #343f44;
  --base02: #475258;
  --base03: #859289;
  --base04: #9da9a0; /* yeah i know */
  --base05: #d3c6aa;
  --base06: #e6e2cc;
  --base07: #fdf6e3;
  --base08: #e67e80;
  --base09: #e69875;
  --base0A: #dbbc7f;
  --base0B: #a7c080;
  --base0C: #83c092;
  --base0D: #7fbbb3;
  --base0E: #d699b6;
}

/***** TABLE OF CONTENTS *****/
/* TODO: Reformat entire CSS file as below.
/* 1. Font
/* 2. Colours
/*     2.1. Dark theme color variables
/*     2.2. Light theme color variables
/*     2.3. Dark theme implementation
/*     2.4. Light theme implementation
/* 3. General UI
/*     3.1. Title Bar
/* 4. Markdown (editor / preview)
/*     4.1. Headings
/*         4.1.1. Fix font weights
/*     4.2. Links
/*         4.2.1. Nifty arrow before internal links (also applies to embeds)
/*     4.3. Embeds
/*     4.4. Tables
/*     4.5. Popovers
/*     4.6. Task Lists
/*     4.7. Blockquotes
/*     4.8. Code
/*     4.9. Bulleted lists
/*     4.10. Misc Fixes
/* 5. Graph view colours
/* 6. Notion Colour Blocks
/* 7. In-document header (scrolls with the document) [remove for compatibility with Andy's mode]
/*     7.1. Adjustments for non-in-document headers (graphs, etc)\
/*     7.2. Active pane border
/*     7.3. Misc fixes
/* 8. Tags
/*     8.1. Tag custom colours
/***** *****/

/* 1. Font */
body {
  /* font stacks taken directly from Notion */
  --font-monospace: "Hack Nerd Font", "Source Code Pro", monospace;
  -webkit-font-smoothing: auto;
  --h1-color: var(--text-title-h1);
  --h2-color: var(--text-title-h2);
  --h3-color: var(--text-title-h3);
  --h4-color: var(--text-title-h4);
  --h5-color: var(--text-title-h5);
  --h6-color: var(--text-title-h6);
}

/* 2. Colours */
:root {
  --faded-red: var(--base08);
  --faded-orange: var(--base09);
  --faded-yellow: var(--base0A);
  --faded-green: var(--base0B);
  --faded-aqua: var(--base0C); /* probably just use base0C */
  --faded-blue: var(--base0D); /* probably just use base0D */
  --faded-purple: var(--base0E);

  /* 2.2 Light theme color variables */
  --bg0-light: var(--bg0-dark);
  --bg1-light: var(--dimbackground);
  --bg-light: var(--base00);
  --bg2-light: var(--bg2-dark);
  --bg3-light: var(--bg3-dark);
  --bg4-light: var(--bg4-dark);
  --bg5-light: var(--base02);
  --grey0-light: var(--grey0-dark);
  --grey1-light: var(--base03);
  --grey2-light: var(--grey2-dark);
  --shadow-light: var(--shadow-dark);

  --bg_visual_light: var(--bg_visual_dark);
  --bg_red_light: var(--bg_red_dark);
  --bg_blue_light: var(--bg_blue_dark);
  --bg_yellow_light: var(--bg_yellow_dark);

  --fg-light: var(--base05);

  --light-red: var(--faded-red);
  --light-orange: var(--faded-orange);
  --light-yellow: var(--faded-yellow);
  --light-green: var(--faded-green);
  --light-aqua: var(--faded-aqua);
  --light-blue: var(--faded-blue);
  --light-purple: var(--faded-purple);

  --light-dim-red: var(--base08);
  --light-dim-orange: var(--base09);
  --light-dim-yellow: var(--base0A);
  --light-dim-green: var(--base0B);
  --light-dim-aqua: var(--base0C);
  --light-dim-blue: var(--base0D);
  --light-dim-purple: var(--base0E);
}

/* 2.3 Dark theme implementation */
.theme-dark {
  --background-primary: var(--base00);
  --background-primary-alt: var(--base00);
  --background-secondary: var(--base00);
  --background-secondary-alt: var(--base00);
  --text-normal: var(--base05);
  --text-faint: var(--base03);
  --text-title-h1: var(--base08);
  --text-title-h2: var(--base09);
  --text-title-h3: var(--base0A);
  --text-title-h4: var(--base0B);
  --text-title-h5: var(--base0C);
  --text-title-h6: var(--base0E);
  --text-link: var(--faded-blue);
  --text-a: var(--base0C);
  --text-a-hover: var(--faded-aqua);
  --text-mark: rgba(215, 153, 33, 0.4); /* light-yellow */
  --pre-code: var(--dimbackground);
  --text-highlight-bg: var(--base04);
  --interactive-accent: var(--base0C);
  --interactive-before: var(--base02);
  --background-modifier-border: var(--base02);
  --text-accent: var(--base0D);
  --interactive-accent-rgb: var(--base0D);
  --inline-code: var(--base0D);
  --code-block: var(--base05);
  --vim-cursor: var(--faded-blue);
  --text-selection: var(--base02);
}

/* 2.4 Light theme implementation */
.theme-light {
  --background-primary: var(--bg-light);
  --background-primary-alt: var(--bg-light);
  --background-secondary: var(--bg-light);
  --background-secondary-alt: var(--bg-light);
  --text-normal: var(--fg-light);
  --text-faint: var(--grey1-light);
  --text-title-h1: var(--light-red);
  --text-title-h2: var(--light-orange);
  --text-title-h3: var(--light-yellow);
  --text-title-h4: var(--light-green);
  --text-title-h5: var(--light-aqua);
  --text-title-h6: var(--light-purple);
  --text-link: var(--light-blue);
  --text-a: var(--light-dim-blue);
  --text-a-hover: var(--light-blue);
  --text-mark: rgba(215, 153, 33, 0.4); /* light-yellow */
  --pre-code: var(--bg1-light);
  --text-highlight-bg: var(--light-dim-green);
  --interactive-accent: var(--bg5-light);
  --interactive-before: var(--bg5-light);
  --background-modifier-border: var(--bg5-light);
  --text-accent: var(--light-dim-green);
  --interactive-accent-rgb: var(--light-dim-green);
  --inline-code: var(--light-blue);
  --code-block: var(--fg-light);
  --vim-cursor: var(--light-blue);
  --text-selection: rgba(189, 174, 147, 0.5); /* light3 */
}

.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
  text-shadow: none;
  background-color: var(--pre-code);
}

/* 3. General UI */
.view-header-title {
  font-weight: 700;
}

/* 3.1. Title bar */
.titlebar {
  background-color: var(--background-secondary-alt);
}

.titlebar-inner {
  color: var(--text-normal);
}

.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
  color: var(--interactive-accent-rgb);
}
.graph-view.color-text {
  color: var(--text-a-hover);
}
/*
.graph-view.color-fill
{
    color: var(--background-secondary);
}
.graph-view.color-line
{
  color: var(--background-modifier-border);
}
*/

html,
body {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

a,
.cm-hmd-internal-link {
  color: var(--text-a);
  text-decoration: none;
}

a:hover,
.cm-hmd-internal-link:hover,
.cm-url {
  color: var(--text-a-hover);
  text-decoration: none;
}

/*----------------------------------------------------------------
TAGS
----------------------------------------------------------------*/

.token.tag {
  padding: 0px 0px;
  background-color: transparent;
  border: none;
}

.token.tag:hover {
  background: transparent;
  color: var(--text-a-hover) !important;
}

/*----------------------------------------------------------------
  TAG PILLS
  ----------------------------------------------------------------*/
.markdown-preview-section h1 a.tag,
.markdown-preview-section h2 a.tag,
.markdown-preview-section h3 a.tag,
.markdown-preview-section h4 a.tag,
.markdown-preview-section h5 a.tag,
.markdown-preview-section h4 a.tag {
  font-weight: inherit;
}

.tag {
  background-color: var(--tag-base);
  border: 1px solid var(--interactive-accent);
  color: var(--text-a);
  font-weight: 500;
  padding: 1.5px 6px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.tag:hover {
  color: var(--interactive-accent);
}

/*----------------------------------------------------------------
  TAG REF STYLING
  ----------------------------------------------------------------*/

.tag[href^="#❗️"],
.tag[href^="#important❗️"] {
  background-color: var(--tag-base);
  border: 1px solid var(--boldred);
}

.tag[href^="#📓"],
.tag[href^="#journal📓"] {
  background-color: var(--tag-base);
  border: 1px solid var(--purple);
}

.tag[href^="#🌱"],
.tag[href^="#seedling🌱"],
.tag[href^="#🌿"],
.tag[href^="#budding🌿"],
.tag[href^="#🌳"],
.tag[href^="#evergreen🌳"] {
  background-color: var(--tag-base);
  border: 1px solid var(--boldgreen);
}

mark {
  background-color: var(--text-mark);
}

.view-actions a {
  color: var(--text-normal);
}

.view-actions a:hover {
  color: var(--text-a);
}

.HyperMD-codeblock-bg {
  background-color: var(--pre-code);
}

.HyperMD-codeblock {
  line-height: 1.4em;
  color: var(--code-block);
}

.HyperMD-codeblock-begin {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.HyperMD-codeblock-end {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

th {
  font-weight: 600;
}

thead {
  border-bottom: 2px solid var(--background-modifier-border);
}

.HyperMD-table-row {
  line-height: normal;
  padding-left: 4px;
  padding-right: 4px;
  /* background-color: var(--pre-code) ; */
}

.HyperMD-table-row-0 {
  padding-top: 4px;
}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator {
  color: var(--text-a);
}

.nav-file-tag {
  color: var(--text-a);
}

.is-active .nav-file-title {
  color: var(--text-a);
  background-color: var(--background-primary-alt);
}

.nav-file-title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.HyperMD-list-line {
  padding-top: 0;
}

.CodeMirror-code,
.CodeMirror-linenumber,
.cm-formatting {
  font-family: var(--font-monospace);
  font-size: 0.9em;
}

.markdown-preview-section pre code,
.markdown-preview-section code {
  font-size: 0.9em;
  background-color: var(--pre-code);
}

.markdown-preview-section pre code {
  padding: 4px;
  line-height: 1.4em;
  display: block;
  color: var(--code-block);
}

.markdown-preview-section code {
  color: var(--inline-code);
}

.cm-s-obsidian,
.cm-inline-code {
  -webkit-font-smoothing: auto;
}

.cm-inline-code {
  color: var(--inline-code);
  background-color: var(--pre-code);
  padding: 1px;
}

.workspace-leaf-header-title {
  font-weight: 600;
}

.side-dock-title {
  padding-top: 15px;
  font-size: 20px;
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover {
  color: var(--text-a);
}

.side-dock {
  border-right: 0;
}

.cm-s-obsidian,
.markdown-preview-view {
  /* padding-left: 10px ; */
  padding-right: 10px;
}

/* vertical resize-handle */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  width: 1px;
  background-color: var(--base0C);
}

/* horizontal resize-handle */
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height: 1px;
  background-color: var(--base0C);
}

/* Remove vertical split padding */
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs {
  padding-right: 0px;
}

.markdown-embed-title {
  font-weight: 600;
}

.markdown-embed {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.cm-header-1,
.markdown-preview-section h1 {
  font-weight: 500;
  font-size: 34px;
  color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-section h2 {
  font-weight: 500;
  font-size: 26px;
  color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-section h3 {
  font-weight: 500;
  font-size: 22px;
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-section h4 {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-section h5 {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-section h6 {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-title-h6);
}

.suggestion-item.is-selected {
  background-color: var(--text-selection);
}

.empty-state-container:hover {
  background-color: var(--background-secondary-alt);
  border: 5px solid var(--interactive-accent);
}

.checkbox-container {
  background-color: var(--interactive-before);
}

.checkbox-container:after {
  background-color: var(--interactive-accent);
}

.checkbox-container.is-enabled:after {
  background-color: var(--base02);
}

.mod-cta {
  color: var(--background-secondary-alt);
  font-weight: 600;
}

.mod-cta a {
  color: var(--background-secondary-alt);
  font-weight: 600;
}

.mod-cta:hover {
  background-color: var(--interactive-before);
  font-weight: 600;
}

.CodeMirror-cursor {
  background-color: var(--vim-cursor);
  opacity: 60%;
}

input.task-list-item-checkbox {
  border: 1px solid var(--faded-blue);
  appearance: none;
  -webkit-appearance: none;
}

input.task-list-item-checkbox:checked {
  background-color: var(--faded-blue);
  box-shadow: inset 0 0 0 2px var(--background-primary);
}

::selection {
  background-color: var(--text-selection);
}

.mermaid .note {
  fill: var(--dark3);
}

.frontmatter-container {
  display: none;
}

/* Bullet point relationship lines */
.markdown-source-view.mod-cm6 .cm-indent::before,
.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  position: absolute;
  border-right: 1px solid var(--base0D);
}
