[submodule ".themes/flatcolor"]
	path = .themes/flatcolor
	url = git@github.com:uuupah/flatcolor.git
[submodule ".themes/.themes/uuu"]
	path = .themes/.themes/uuu
	url = git@github.com:uuupah/uuu-gtk-theme.git
[submodule ".themes/uuu"]
	path = .themes/uuu
	url = git@github.com:uuupah/uuu-gtk-theme.git
[submodule "scripts/schemes"]
	path = scripts/schemes
	url = https://github.com/tinted-theming/schemes
