#rofi_command=sed 's/\t/: /g' | tofi -c /home/uuu/.config/tofi/config_splatmoji
#xsel_command=cut -d':' -f1 | wl-copy
xsel_command=wl-copy
rofi_command=wofi --show dmenu
#rofi_command=tofi -c /home/uuu/.config/tofi/config_splatmoji
xdotool_command=ydotool sleep 0.2 type --delay 100
paste_command=wl-paste
