* {
  font-family: "Iosevka Custom", "Droid Sans Japanese", "Unifont-JP";
  font-size: 12pt;
  font-weight: 400;
}

#custom-notification {
	font-family: "Iosevka Custom", "Droid Sans Japanese", "Unifont-JP";
}
