@import '/home/uuu/.config/colours/uuuwaybar.css';

/* @define-color background #2d353b; */
/* @define-color foreground #d3c6aa; */
/* @define-color important #E67E80; */

@define-color background @bg;
@define-color foreground @fg;
@define-color important @im;

/* dark colour */

window#waybar,
tooltip {
  background-color: @background;
}

#workspaces button.active,
#workspaces button.urgent {
  color: @background;
}

/* light colour */
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover,
#workspaces button.focused,
/* #clock:hover, */
/* #battery:hover, */
#bluetooth:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#mpd:hover,
#custom-launcher:hover,
#custom-pomodoro:hover {
  box-shadow: inset 0 -1px @foreground;
}

window#waybar,
#workspaces button,
tooltip {
  color: @foreground;
}

#workspaces button.active {
  background-color: @foreground;
}

tooltip {
  border-color: @foreground;
}

/* notification colour */

#workspaces button.urgent {
  background-color: @important;
}

/* other styles */

* {
  font-family:
  "Terminus", "Unifont", "Unifont-JP", "ProggyClean Nerd Font", "Noto Sans Mono", "Font Awesome 6 Free",
    "Font Awesome 6 Brands", monospace;
  font-size: 22px;
  /* font-weight: bold; */
  transition: none;
  box-shadow: none;
  text-shadow: none;
  background: none;
  border-radius: 0;
  padding-bottom: 0px; 
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 0; 
  margin: 0; 
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-launcher {
  padding: 0 5px 1px 5px; 
}

#workspaces button{
  padding: 0;
}

#window {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-notification {
  font-family: "Unifont-jp";
}

tooltip,
#tray menu {
  background-color: @background;
  color: @foreground;
  border: 1px solid @foreground;
  margin-bottom: 3px;
}
