output "eDP-1" {
    focus-at-startup
	scale 1.2
    transform "normal"
    position x=0 y=0
    layout {
    	gaps 4
    	border {
    		width 3
    	}
    }
}

input {
	keyboard {
		xkb {
			options "caps:ctrl_modifier, altwin:swap_lalt_lwin"
		}
	}
	touchpad {
		dwt	
		natural-scroll
		/// the below were on by default, but i dont know if theyre actually needed
		// drag true
		// accel-speed 0.0
		// accel-profile "adaptive"
		// scroll-method "two-finger"
	}
}
