///////////////////////////////
///////////////////////////////
//
// ██████╗  ██████╗ ███████╗██╗
// ██╔══██╗██╔═══██╗██╔════╝██║
// ██████╔╝██║   ██║█████╗  ██║
// ██╔══██╗██║   ██║██╔══╝  ██║
// ██║  ██║╚██████╔╝██║     ██║
// ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝
//
///////////////////////////////
// Rofi Config for AetherOS ///
///////////////////////////////


/*****----- Configuration -----*****/
configuration {
    show-icons: false;
}

* {
    font: "GeistMono Nerd Font 12";
    text-color:       #d3c6aa;  // Everforest fg
    background-color: #2b3339;  // Everforest bg0 (main background)
}

/* MAIN WINDOW */
window {
    background-color: rgba(43, 51, 57, 0.9);  // Everforest bg0 w/ opacity
    border-radius: 12px;
    padding: 20px;
    width: 700px;
    blur: true;
    transparency: "real";
    spacing: 30px;
    children: [message, listview];
}

/* LISTVIEW */
listview {
    columns: 3;
    lines: 2;
    dynamic: true;
    fixed-height: true;
    fixed-columns: true;
    spacing: 15px;
    background-color: transparent;
    scrollbar: false;
    margin-top: 30px;
}

/* ELEMENT BUTTONS */
element {
    padding: 20px 12px;
    border-radius: 10px;
    background-color: #3c4841;   // Everforest bg1
    text-color: #d3c6aa;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element selected {
    background-color: rgba(167, 192, 128, 0.2);  // Everforest green soft hover
    text-color: #d3c6aa;
}

/* BUTTON TEXT */
element-text {
    font: "GeistMono Nerd Font 14";
    background-color: transparent;
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

message {
    enabled: true;
    margin: 10px 0px 0px 0px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba(60, 72, 65, 0.6);
    text-color: #9da9a0;
    font: "GeistMono Nerd Font 10";
}

textbox {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: transparent;
    text-color: inherit;
}
thoug
