[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 1200 'systemctl suspend' timeout 600 'swaylock -f' before-sleep 'swaylock -f'
Restart=on-failure
